<DOCTYPE! html>
<head>

</head>

<body>
  <h1>Welcome to Hogwarts</h1>
  <h4>Please sign up or log in to access your @hogwarts.edu email account</h4>

  <form method="get" action="/registrations/signup"
  <label for="sign_up">Sign Up</label>
  <input type="Submit" value="Sign Up">
  </form>
  <form method="get" action="/sessions/login"
  <label for="log_in">Log In</label>
  <input type="Submit" value="Log In">
  </form>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>
